<h3>@Title</h3>
@FieldDisplayName:
<input type="text" @bind-value="_data" size="25"/>
<hr/>
<button @onclick="SaveToLocalStorageAsync">Save to @StorageType Storage</button>
<button @onclick="ReadFromLocalStorageAsync">Read from @StorageType Storage</button>
<div class="mt-4">@_message</div>

@code {
    private string _data;
    private string _message;
    [Parameter] [EditorRequired] public string Title { get; set; }
    [Parameter] [EditorRequired] public string FieldDisplayName { get; set; }
    [Parameter] [EditorRequired] public string StorageType { get; set; }
    [Parameter] [EditorRequired] public EventCallback<string> OnDataReturnedCallback { get; set; }
    [Parameter] [EditorRequired] public IBrowserStorageService StorageService { get; set; }

    async Task SaveToLocalStorageAsync()
    {
        var dataInfo = new DataInfo()
        {
            Value = _data,
            Length = _data!.Length,
            Timestamp = DateTime.Now
        };
        await StorageService!.SetItemAsync<DataInfo>("localStorageData", dataInfo);
        _message = "Saved";
    }

    async Task ReadFromLocalStorageAsync()
    {
        DataInfo savedData = await StorageService!.GetItemAsync<DataInfo>("localStorageData");
        string result = $"localStorageData = {savedData?.Value ?? "Missing"}";
        await OnDataReturnedCallback.InvokeAsync(result);
        _message = "";
    }

}