<a href="/@RouteStart/details/@Id" class="text-info">
    Details <i class="fa-solid fa-info-circle"></i>
</a> |

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string RouteStart { get; set; }
}