@if (Show)
{
	<div class="p-3 mt-4" style="border:5px solid red">
		<div>
			<div>
				@ChildContent
			</div>
			<div>
				<button @onclick="OnOk">
					OK
				</button>
			</div>
		</div>
	</div>
}
@code {
	[Parameter][EditorRequired] public bool Show { get; set; }
	[Parameter][EditorRequired] public EventCallback OnOk { get; set; }
	[Parameter][EditorRequired] public RenderFragment ChildContent { get; set; }
}