<DataAnnotationsValidator/>
<ValidationSummary/>
<div>
    <label class="col-form-label" for="quantity">Make</label>
    <InputSelect class="form-control" @bind-Value="CarInstance.MakeId">
        @foreach (var item in Makes)
        {
            <option value="@item.Id">@item.Name</option>
        }
    </InputSelect>
    <ValidationMessage For="() => CarInstance.MakeId"/>
</div>
<div>
    <label class="col-form-label" for="color">Color</label>
    <InputText class="form-control" @bind-Value="CarInstance.Color"/>
    <ValidationMessage For="() => CarInstance.Color"/>
</div>
<div>
    <label class="col-form-label" for="petName">Pet Name</label>
    <InputText class="form-control" @bind-Value="CarInstance.PetName"/>
    <ValidationMessage For="() => CarInstance.PetName"/>
</div>
<div>
    <label class="col-form-label" for="price">Price</label>
    <InputText class="form-control" @bind-Value="CarInstance.Price"/>
    <ValidationMessage For="() => CarInstance.Price"/>
</div>
<div>
    <label class="col-form-label" for="dateBuilt">Date Built</label>
    <InputDate class="form-control" @bind-Value="CarInstance.DateBuilt"/>
    <ValidationMessage For="() => CarInstance.DateBuilt"/>
</div>
<div>
    <label class="col-form-label" for="isDrivable">Is Drivable</label>
    <InputCheckbox @bind-Value="CarInstance.IsDrivable"/>
    <ValidationMessage For="() => CarInstance.IsDrivable"/>
</div>

@code {
    [Inject] private IMakeDataService MakeDataService { get; set; }
    [Parameter] [EditorRequired] public List<Make> Makes { get; set; }
    [Parameter] [EditorRequired] public Car CarInstance { get; set; } = default!;
}