<a href="/@RouteStart/delete/@Id" class="text-danger">Delete <i class="fa-solid fa-trash"></i></a> |

@code {
    [Parameter] public int Id { get; set; }
    [Parameter] public string RouteStart { get; set; }
}