@page "/cars/index"
@page "/cars/index/{MakeId:int}/{MakeName}"
@inherits CarBase
<h1>Vehicle Inventory</h1>
@if (!MakeName.Equals("All", StringComparison.OrdinalIgnoreCase))
{
    <h3>@MakeName</h3>
    <PageTitle>@MakeName Inventory</PageTitle>
}
else
{
    <PageTitle>Vehicle Inventory</PageTitle>
}
<CreateHelper RouteStart="cars"></CreateHelper>
<p />
@if (!_cars.Any())
{
    <div><em>Loading...</em></div>
}
else
{
    <CarList Cars="_cars" />
}

@code {
    [Parameter]
    public int? MakeId { get; set; }
    [Parameter]
    public string MakeName { get; set; }
    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);
        MakeName ??= "All";
        _cars = MakeId is > 0 
            ? await CarDataServiceInstance.GetByMakeAsync(MakeId.Value) 
            : await CarDataServiceInstance.GetAllEntitiesAsync();
        StateHasChanged();
    }
    private List<Car> _cars = [];
}