<a href="/@RouteStart/edit/@Id" class="text-warning">
	Edit <i class="fa-solid fa-edit"></i>
</a> |
@code {
	[Parameter] public int Id { get; set; }
	[Parameter] public string RouteStart { get; set; }
}