@page "/cars/delete/{Id:int}"
@inherits CarBase
<h1>Vehicle Inventory</h1>
@if (Entity == null)
{
	<div><em>Loading...</em></div>
	<PageTitle>Delete Vehicle</PageTitle>
}
else
{
	<PageTitle>Delete @Entity.PetName</PageTitle>
	<CarDetail CarInstance="Entity" />
	<EditForm Model="Entity" OnSubmit="DeleteCarAsync">
		<div class="pt-4">
			<button class="btn btn-danger">Delete <i class="fa-solid fa-trash"></i></button>
			| <ListHelper RouteStart="cars" />
		</div>
	</EditForm>
}
@code {
	[Parameter] public int Id { get; set; }
	public async Task DeleteCarAsync(EditContext context)
	{
		if (context.Validate())
		{
			await CarDataServiceInstance.DeleteEntityAsync((Car)context.Model);
		}
		NavManagerInstance.NavigateTo("/cars/index");
	}
	public override async Task SetParametersAsync(ParameterView parameters)
	{
		await base.SetParametersAsync(parameters);
		Entity = await CarDataServiceInstance.GetEntityAsync(Id);
		StateHasChanged();
	}
}